<div class="amnav__page element" data-id="{{ '%%id%%'|replace(replaceWith) }}" data-label="{{ '%%label%%'|replace(replaceWith) }}">
    <div class="label">
        <span class="status {{ '%%status%%'|replace(replaceWith) }}"></span>
        <span class="title">{{ '%%label%%'|replace(replaceWith) }}</span>
    </div>
</div>
{% if replaceWith|length %}
    <a class="move icon" title="{{ 'Move'|t }}"></a>
    <a class="settings icon" title="{{ 'Settings'|t }}"></a>
    <a class="delete icon" title="{{ 'Delete'|t }}"></a>
{% endif %}