{% import "_includes/forms" as forms %}

{{ forms.textField({
    id: 'name',
    name: 'name',
    label: "Name"|t,
    value: node.name,
    instructions: 'Name of this node in the navigation.'|t
}) }}

{% if currentUser.admin %}
    {{ forms.textField({
        id: 'listClass',
        name: 'listClass',
        label: 'Class for list item'|t,
        value: node.listClass,
        instructions: 'Add a custom class to this node.'|t,
        placeholder: 'Optional'|t
    }) }}
{% endif %}

{% if not node.elementId|length %}
	{{ forms.textField({
	    id: 'url',
	    name: 'url',
	    label: "URL"|t,
	    value: node.url,
	    instructions: 'The URL of this node.'|t
	}) }}
{% else %}
    {% if node.elementType == 'Entry' %}
        {% set element = craft.entries.id(node.elementId).locale(node.locale).first() %}
    {% endif %}

    {% if element is defined and element %}
        <div class="field">
            <div class="heading">
                <label>{{ 'Linked to'|t }}</label>
                <div class="instructions">
                    <p>{{ element.title }}<br>{{ 'URI'|t }}: {{ element.uri }}<br><a href="{{ element.cpEditUrl }}" target="_blank">{{ 'Edit'|t }}</a></p>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}

{{ forms.lightswitchField({
    id:           'enabled',
    name:         'enabled',
    label:        'Enabled'|t,
    on:           node.enabled,
    instructions: 'Display in navigation.'|t
}) }}

{{ forms.lightswitchField({
    id:           'blank',
    name:         'blank',
    label:        'New window'|t,
    on:           node.blank,
    instructions: 'Whether to open this node in a new window.'|t
}) }}