{% import "_includes/forms" as forms %}

{% if value.nodeId is defined %}
    <input type="hidden" name="{{ name }}[nodeId]" value="{{ value.nodeId }}">
{% endif %}

<div id="{{ id }}" class="matrixblock">
    <div class="grid" data-cols="5" data-mode="pct">
        <div class="item" data-colspan="1">
            {{ forms.lightswitchField({
                label: 'Determine position'|t,
                id: 'determinePosition',
                name: name ~ '[determinePosition]',
                on: value.nodeId is defined
            }) }}
        </div>
        <div class="item" data-colspan="2">
            <div class="navigation-position__field{% if value.nodeId is not defined %} hidden{% endif %}">
                {{ forms.selectField({
                    label: 'Position in navigation'|t,
                    id: 'position',
                    name: name ~ '[position]',
                    class: 'fullwidth',
                    options: positionOptions,
                    value: (value.nodeId is defined ? value.nodeId : '')
                }) }}
            </div>
            {% if value.nodeId is defined %}
                <span class="navigation-position__message error hidden">{{ 'Delete from navigation when saving content.'|t }}</span>
            {% endif %}
        </div>
        <div class="item" data-colspan="2">
            <div class="navigation-position__field{% if value.nodeId is not defined %} hidden{% endif %}">
                {% if not noNodes %}
                    {{ forms.selectField({
                        label: 'Positioning this'|t,
                        id: 'action',
                        name: name ~ '[action]',
                        class: 'fullwidth',
                        options: actionOptions
                    }) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% set js %}
    /**
     * Display / remove hidden fields.
     */
    (function() {
        var $field = $('[id$={{ id }}]'),
            $hiddenFields = $field.find('.navigation-position__field'),
            $deleteMessage = $field.find('.navigation-position__message');

        $field.on('click', '.lightswitch', function() {
            if($(this).find('input').val()) {
                $hiddenFields.removeClass('hidden');
                $deleteMessage.addClass('hidden');
            }
            else {
                $hiddenFields.addClass('hidden');
                $deleteMessage.removeClass('hidden');
            }
        });
    })();
{% endset %}
{% includeJs js %}