{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set pluginName = craft.amNav.name %}
{% set title = navigation.name %}

{% set crumbs = [
    { label: pluginName, url: url('amnav') },
    { label: 'Build navigation'|t, url: '#' }
] %}

{% if craft.isLocalized() %}
    {% set buildUrl = url('amnav/build/' ~ navigation.id) ~ '/{locale}' %}
    {% set extraPageHeaderHtml %}
        <div class="select">
            <select onchange="document.location.href='{{ buildUrl }}'.replace('{locale}', this.value);">
                {% for editableLocale in craft.i18n.getEditableLocales() %}
                    <option value="{{ editableLocale.id }}"{% if editableLocale.id == locale %} selected{% endif %}>{{ editableLocale.name }}</option>
                {% endfor %}
            </select>
        </div>
    {% endset %}
{% endif %}

{% macro addNodeToStructure(navigation, node) %}
    <li data-level="{{ node.level }}">
        {% set indent = 8 + (node.level - 1) * 35 %}
        {% set nodeUrl = (node.elementId ? node.elementUrl : node.url) %}
        {% set replaceWith = {
            '%%id%%':           node.id,
            '%%label%%':        node.name,
            '%%type%%':         (node.elementType ? node.elementType : 'manual'),
            '%%typeLabel%%':    (node.elementType ? node.elementType : 'Manual'),
            '%%url%%':          nodeUrl|replace({ '{siteUrl}': siteUrl, '__home__': siteUrl }),
            '%%urlless%%':      nodeUrl|replace({ '{siteUrl}': '', '__home__': '<span data-icon="home" title="Homepage"></span>' }),
            '%%listClass%%':    (node.listClass|length ? '.' ~ node.listClass : ''),
            '%%status%%':       (node.enabled ? 'live' : 'expired'),
            '%%blank%%':        (node.blank ? '' : 'visuallyhidden')
        } %}
        <div class="row" style="margin-left: -{{ indent }}px; padding-left: {{ indent }}px;">
            {% include 'amnav/_includes/node' with { replaceWith: replaceWith, level: node.level, settings: navigation.settings } only %}
        </div>
        {% if node.children is defined %}
            <ul>
            {% for subnode in node.children %}
                {{ _self.addNodeToStructure(navigation, subnode) }}
            {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% block main %}
    <div class="amnav">
        <div class="grid first" data-cols="3" data-mode="pct">
            <div class="item" data-colspan="2">
                <div class="pane">
                    {% set paneTabs = {
                        entries: { label: "Entries"|t, url: '#amnav-entries' },
                        categories: { label: "Categories"|t, url: '#amnav-categories' },
                        assets: { label: "Assets"|t, url: '#amnav-assets' },
                        url: { label: "My own URL"|t, url: '#amnav-url' },
                    } %}
                    {% include "_includes/tabs" with { tabs: paneTabs } %}

                    <div class="amnav__parent">
                        {{ forms.selectField({
                            label: "Parent node"|t,
                            id: 'parent',
                            class: 'fullwidth',
                            name: 'parent',
                            options: parentOptions,
                            instructions: (navigation.settings.maxLevels ? 'The maximum level is: <strong>{level}</strong>'|t({ level: navigation.settings.maxLevels }) : '')
                        }) }}
                    </div>

                    {{ forms.lightswitchField({
                        id: 'blank',
                        name: 'blank',
                        label: 'New window'|t,
                        on: false,
                        instructions: 'Whether to open this node in a new window.'|t
                    }) }}

                    <div id="amnav-entries">
                        <div class="buttons">
                            <div class="btn submit add icon amnav__button" data-element-type="Entry">{{ 'Add an entry'|t }}</div>
                            <div class="spinner hidden"></div>
                        </div>
                    </div>

                    <div id="amnav-categories" class="hidden">
                        <div class="buttons">
                            <div class="btn submit add icon amnav__button" data-element-type="Category">{{ 'Add a category'|t }}</div>
                            <div class="spinner hidden"></div>
                        </div>
                    </div>

                    <div id="amnav-assets" class="hidden">
                        <div class="buttons">
                            <div class="btn submit add icon amnav__button" data-element-type="Asset">{{ 'Add an asset'|t }}</div>
                            <div class="spinner hidden"></div>
                        </div>
                    </div>

                    <div id="amnav-url" class="hidden">
                        <form id="manual-form" method="post" accept-charset="UTF-8">
                            {{ forms.textField({
                                label: "Name"|t,
                                id: 'name',
                                name: 'name',
                                first: true,
                                required: true,
                                instructions: 'Name of this node in the navigation.'|t
                            }) }}
                            {{ forms.textField({
                                label: "URL"|t,
                                id: 'url',
                                name: 'url',
                                required: true,
                                instructions: 'The URL of this node.'|t
                            }) }}

                            <div class="buttons">
                                <input type="submit" class="btn submit" value="{{ 'Add'|t }}">
                                <div class="spinner hidden"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="item" data-colspan="1">
                {% if currentUser.admin %}
                    <div class="pane">
                        <h1>{{ 'Display navigation'|t }}</h1>
                        <p class="light">{{ '{{ craft.amNav.getNav("' ~ navigation.handle ~ '") }}' }}</p>
                        <p class="light">{{ '{{ craft.amNav.getNavRaw("' ~ navigation.handle ~ '") }}' }}</p>
                        <div class="buttons">
                            <div class="btn submit amnav__nodeids">{{ 'Display node IDs'|t }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="item" data-colspan="3">
                <div class="pane">
                    <div class="amnav__empty{% if nodes|length %} hidden{% endif %}">
                        <p>{{ 'There are no nodes yet.'|t }}</p>
                    </div>

                    <ul id="amnav__builder" class="amnav__builder structure">
                        {% for node in nodes %}
                            {{ _self.addNodeToStructure(navigation, node) }}
                        {% endfor %}
                    </ul>

                    <script id="amnav__row" type="text/template">
                        {% include 'amnav/_includes/node' with { replaceWith: {} } only %}
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
