{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set pluginName = craft.amNav.name %}
{% set title = menu.name %}

{% set crumbs = [
    { label: pluginName, url: url('amnav') },
    { label: menu.name, url: url('amnav/build/' ~ menu.id) },
] %}

{% macro addPageToStructure(menu, page) %}
    <li data-level="{{ page.level }}">
        {% set indent = 8 + (page.level - 1) * 35 %}
        {% set replaceWith = {
            '%%id%%':       page.id,
            '%%entryid%%':  page.entryId,
            '%%label%%':    page.name,
            '%%url%%':      page.url,
            '%%status%%':   (page.enabled ? 'live' : 'expired'),
            '%%blank%%':    (page.blank ? '' : 'visuallyhidden')
        } %}
        <div class="row" style="margin-left: -{{ indent }}px; padding-left: {{ indent }}px;">
            {% include 'amnav/_includes/page' with { replaceWith: replaceWith, level: page.level, settings: menu.settings } only %}
        </div>
        {% if page.children is defined %}
            <ul>
            {% for subpage in page.children %}
                {{ _self.addPageToStructure(menu, subpage) }}
            {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% block main %}
    <div class="amnav grid first">
        <div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
            <div class="pane">
                <div class="amnav__empty{% if pages|length %} hidden{% endif %}">
                    <p>{{ 'There are no pages yet.'|t }}</p>
                </div>

                <ul id="amnav__builder" class="amnav__builder structure">
                    {% for page in pages %}
                        {{ _self.addPageToStructure(menu, page) }}
                    {% endfor %}
                </ul>

                <script id="amnav__row" type="text/template">
                    {% include 'amnav/_includes/page' with { replaceWith: {} } only %}
                </script>
            </div>
        </div>
        <div class="item" data-position="right" data-colspan="1">
            {% if currentUser.admin %}
                <div class="pane">
                    <h1>{{ 'Display menu'|t }}</h1>
                    <p class="light">{{ '{{ craft.amNav.getNav("' ~ menu.handle ~ '") }}' }}</p>
                    <p class="light">{{ '{{ craft.amNav.getNavRaw("' ~ menu.handle ~ '") }}' }}</p>
                    <div class="buttons">
                        <div class="btn submit amnav__pageids">{{ 'Display page IDs'|t }}</div>
                    </div>
                </div>
            {% endif %}

            <div class="pane">
                {% set paneTabs = {
                    entries: { label: "Existing entries"|t, url: '#amnav-entries' },
                    url: { label: "My own URL"|t, url: '#amnav-url' },
                } %}
                {% include "_includes/tabs" with { tabs: paneTabs } %}

                <div class="amnav__parent">
                    {{ forms.selectField({
                        label: "Parent page"|t,
                        id: 'parent',
                        class: 'fullwidth',
                        name: 'parent',
                        options: parentOptions
                    }) }}
                </div>

                <div id="amnav-entries">
                    <div class="buttons">
                        <div class="btn submit add icon amnav__button">{{ 'Add an entry'|t }}</div>
                        <div class="spinner hidden"></div>
                    </div>
                </div>

                <div id="amnav-url" class="hidden">
                    <form id="manual-form" method="post" accept-charset="UTF-8">
                        {{ forms.textField({
                            label: "Name"|t,
                            id: 'name',
                            name: 'name',
                            first: true,
                            required: true,
                            instructions: 'Name of this page in the menu.'|t
                        }) }}
                        {{ forms.textField({
                            label: "URL"|t,
                            id: 'url',
                            name: 'url',
                            required: true,
                            instructions: 'The URL of this page.'|t
                        }) }}
                        {{ forms.lightswitchField({
                            id: 'blank',
                            name: 'blank',
                            label: 'New window'|t,
                            on: false,
                            instructions: 'Whether to open this page in a new window.'|t
                        }) }}

                        <div class="buttons">
                            <input type="submit" class="btn submit" value="{{ 'Add'|t }}">
                            <div class="spinner hidden"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}