{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set pluginName = craft.amNav.name %}
{% set title = 'Edit menu'|t %}
{% set docsUrl = 'https://github.com/am-impact/amnav' %}

{% set crumbs = [
    { label: pluginName, url: url('amnav') },
    { label: menu.name, url: url('amnav/edit/' ~ menu.id) },
] %}

{% set content %}
    <form id="nav-form" method="post" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="amnav">
        {{ getCsrfInput() }}

        <input type="hidden" name="action" value="amNav/saveMenu">
        <input type="hidden" name="redirect" value="amnav">
        {% if menuId is defined %}<input type="hidden" name="menuId" value="{{ menuId }}">{% endif %}

        {{ forms.textField({
            label: "Name"|t,
            id: 'name',
            name: 'name',
            value: menu.name,
            errors: menu.getErrors('name'),
            first: true,
            autofocus: true,
            required: true,
            instructions: 'Name of this menu in the CP.'|t
        }) }}
        {{ forms.textField({
            label: "Handle"|t,
            id: 'handle',
            name: 'handle',
            value: menu.handle,
            errors: menu.getErrors('handle'),
            required: true,
            instructions: 'Name of this menu in the templates.'|t
        }) }}
        <hr>
        {{ forms.textField({
            label: "Max Levels"|t,
            id: 'settingsMaxLevels',
            name: 'settings[maxLevels]',
            size: 5,
            value: menu.settings.maxLevels,
            instructions: 'The maximum number of levels this menu can have. Leave blank if you don’t care.'|t
        }) }}
        <hr>
        {{ forms.textField({
            label: "Can move from level"|t,
            id: 'handle',
            name: 'settings[canMoveFromLevel]',
            size: 5,
            value: menu.settings.canMoveFromLevel,
            instructions: 'Whether non-admins can move pages from a specific level. Leave blank if you don’t care.'|t
        }) }}
        {{ forms.textField({
            label: "Can delete from level"|t,
            id: 'handle',
            name: 'settings[canDeleteFromLevel]',
            size: 5,
            value: menu.settings.canDeleteFromLevel,
            instructions: 'Whether non-admins can delete pages from a specific level. Leave blank if you don’t care.'|t
        }) }}

        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
        </div>
    </form>
{% endset %}

{% set js %}
    {% if not menu.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
{% endset %}
{% includeJs js %}