{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set pluginName = craft.amNav.name %}
{% set title = (navId is defined ? 'Edit navigation'|t : 'New navigation'|t) %}
{% set docsUrl = 'https://github.com/am-impact/amnav' %}

{% set crumbs = [
    { label: pluginName, url: url('amnav') },
    { label: title, url: '#' }
] %}

{% set content %}
    <form id="nav-form" method="post" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="amnav">
        {{ getCsrfInput() }}

        <input type="hidden" name="action" value="amNav/saveNavigation">
        <input type="hidden" name="redirect" value="amnav">
        {% if navId is defined %}<input type="hidden" name="navId" value="{{ navId }}">{% endif %}

        {{ forms.textField({
            label: "Name"|t,
            id: 'name',
            name: 'name',
            value: navigation.name,
            errors: navigation.getErrors('name'),
            first: true,
            autofocus: true,
            required: true,
            instructions: 'Name of this navigation in the CP.'|t
        }) }}
        {{ forms.textField({
            label: "Handle"|t,
            id: 'handle',
            name: 'handle',
            value: navigation.handle,
            errors: navigation.getErrors('handle'),
            required: true,
            instructions: 'Name of this navigation in the templates.'|t
        }) }}
        {% if entrySources|length %}
            <hr>
            {{ forms.checkboxSelectField({
                label: 'Sources'|t ~ ' (' ~ 'Entries'|t ~ ')',
                id: 'entrySources',
                name: 'settings[entrySources]',
                options: entrySources,
                values: (navigation.settings.entrySources is defined ? navigation.settings.entrySources : []),
                instructions: "Which sources do you want to select {type} from?"|t({ type: entryType|lower })
            }) }}
        {% endif %}
        <hr>
        {{ forms.textField({
            label: "Max Levels"|t,
            id: 'settingsMaxLevels',
            name: 'settings[maxLevels]',
            size: 5,
            value: navigation.settings.maxLevels,
            instructions: 'The maximum number of levels this navigation can have. Leave blank if you don’t care.'|t
        }) }}
        <hr>
        {{ forms.textField({
            label: "Can move from level"|t,
            id: 'handle',
            name: 'settings[canMoveFromLevel]',
            size: 5,
            value: navigation.settings.canMoveFromLevel,
            instructions: 'Whether non-admins can move nodes from a specific level. Leave blank if you don’t care.'|t
        }) }}
        {{ forms.textField({
            label: "Can delete from level"|t,
            id: 'handle',
            name: 'settings[canDeleteFromLevel]',
            size: 5,
            value: navigation.settings.canDeleteFromLevel,
            instructions: 'Whether non-admins can delete nodes from a specific level. Leave blank if you don’t care.'|t
        }) }}

        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
        </div>
    </form>
{% endset %}

{% set js %}
    {% if not navigation.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
{% endset %}
{% includeJs js %}